@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

:root {
  --theme-foreground-focus: #EE7326;
  --sans-serif: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif);
}

h1 {
  color:  #EE7326;
}

h2 {
  color: #204F90;
}

h3 {
  color: #EE7326;
}

h4, h5, h6 {
  color: grey;
}
